@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primary-color:  #00bfff;
}

  

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

header {
    background: yellow;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: #444444;
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

h1{
    font-size: 2.5em;
    margin: 2em 0 1.2em ;
}

h2 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h2 span::before{
    content: '';
    position: absolute;
    width: 5em;
    background-color: #00bfff;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: .3em;

}

.profile-section {
    background:#00bfff;
    color:  #20272E;
    font-size: 1em;
    padding: 2em;

    li {
        background: #cbd7e2;
        text-align: center;
        padding: 1em 1em;
        width: 60%;
        margin: 0em auto 1em auto;
        border-radius: 1em;

        img {
            width: 10em;
            height: 10em;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -4.5em;
        }
      
        
        
    }

}
.education-section{
    background-image: url('https://images.ctfassets.net/3s5io6mnxfqz/3QFr6c5LS05AXgK2g7qoji/a483ea2397c645973564ea47441ea1e0/AdobeStock_228097095.jpeg');
    background-repeat:no-repeat ;
    background-size: cover ;
    color: rgb(245, 162, 9);
    font-size: 1.1em;
    padding: 2em;

    .right-col{
        background: #20272E;
        text-align: left;
        padding: 4em 1em;
        width: 30%;
        margin: -3em auto -3em 1em;
        border-radius: 1em;
    

    }
    

}

dl{
    color: white;
    padding: 0.2em 1em;
    span{
        color: #e0abca;
    }

    
    
dd{
    color: var(--primary-color);
    font-weight:normal;
font-size: smaller;    
}
}
 
.features-section {
    background: #06396b;
    color: white;
    padding: 2em;

    img{
        width: 250px;height: 250px;
        top: 20%;
        left: 60%;
        }
}

ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('/Imges/bullet.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
   }

.contact-section{
    padding: 2em;
}
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}
nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li.contact-me a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    

ul.features-list{
    display: block;
    margin-left: 5em;
    li{
        font-size: 1.4em;

        &:before{
           width: 30px;
           height: 30px;
        }
    }
}
.features-section{
    position: relative;
}
.features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;

}

.contact-section{
    position: relative;
    .container{
        display: flex;
    }
}
.contact-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
}
iframe{
    height: 100%;
}
}

.profile-section, .features-section {
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}
