@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: url(/HW20/style/images/swarthmore-college-Eric-Behrens-flickr-5706ffe35f9b581408d48cb3.jpg) repeat;
  font-family: 'Poppins', sans-serif;

}

.container {
  margin: 30px;
  padding: 2em 0;
  background-color: #ffffff;
  opacity: 0.96;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: blue;
  text-shadow: black 1px 2px;
}

.inputbox {
  margin-top: 2em;
  text-align: center;

}

input {
  background-color: rgb(171, 205, 221);
  padding: 0.8em 0.8em;
  margin-left: 2.1em;
  border-radius: 5px;
  text-align: center;
  color: #0f0122;
  font-size: 1.1em;
  font-weight: bolder;
}

.btn {
  position: relative;
}

button {
  background-color: darkred;
  padding: 1em;
  color: #ffffff;
  margin: 1em -1em;
  font-weight: bold;
  position: absolute;
  right: -2px;
  cursor: pointer;
  border-radius: 5px;
 
}

button:hover{
  background-color: royalblue;
  font-size: 1.1em;
}

.logo {
  top: 6px;
  left: 15px;
  position: absolute;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;

}

.logo span {
  color: blue;

}


.main {
  display: flex;
  text-align: center;
  justify-content: space-between;

}

.cards {
  margin: 3em;
  padding: .3em 1em;
  border-radius: 20px;
  font-size: 1.3em;
  display: flex;
justify-content: space-around;


  table {

    border: 2px solid rgb(18, 97, 243);
    margin-left: 4em;
    margin-right: 4em;


    thead {
      background-color: blue;
      color: #ffffff;

      td {
        padding: 0.2em;
        margin: 0 1em;
      }
    }

  }

}

.main {
  border-radius: 20px;
  font-size: 1.3em;


  table {

    border: 2px solid rgb(129, 7, 74);
  
    thead {

      background-color: rgb(129, 7, 74);
      color: #ffffff;
      display: flex;
      justify-content:space-around ;

      tr {
        width: 450px;
        display: flex;
        justify-content:space-around;
 

}
      }
tbody{

  display: flex;
  flex-direction: column;
  align-items: center;

  td {

    border-bottom: rgb(156, 144, 144) 2px solid;
    color:  rgb(44, 7, 129);
    display: inline-block;
    padding: 0 3.1em;


    
  
}

    }



  }

}

.container,
.iputbox,
table,
h1 {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-2em)
  }

  to {
    opacity: 0.8;
    transform: translateY(0)
  }
}